<div class="section145">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title-tt">
          <div class="main-title-left">
            <span>Offers</span>
            <h2>Best Values</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="#" class="best-offer-item">
          <img src="assets/images/best-offers/offer-1.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="#" class="best-offer-item">
          <img src="assets/images/best-offers/offer-2.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="#" class="best-offer-item offr-none">
          <img src="assets/images/best-offers/offer-3.jpg" alt="">
          <div class="cmtk_dt">
            <div class="product_countdown-timer offer-counter-text" data-countdown="2021/01/06"></div>
          </div>
        </a>
      </div>
      <div class="col-md-12">
        <a href="#" class="code-offer-item">
          <img src="assets/images/best-offers/offer-4.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
