<div class="form-dt">
  <div class="form-inpts checout-address-step">
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="form-title"><h6>Sign In</h6></div>
      <div class="form-group pos_rel">
        <input type="text" placeholder="Enter Phone Number" class="form-control lgn_input" formControlName="phone">
        <i class="uil uil-mobile-android-alt lgn_icon"></i>
      </div>
      <div class="form-group pos_rel">
        <input type="password" placeholder="Enter Password" class="form-control lgn_input" formControlName="password">
        <i class="uil uil-padlock lgn_icon"></i>
      </div>
      <button class="login-btn hover-btn" type="submit">Sign In Now</button>
    </form>
    <button class="login-btn hover-btn" style="margin-top: 10px" (click)="signInWithGoogle()"><i class="uil uil-google"></i>Sign in with Google</button>
    <button class="login-btn hover-btn" style="margin-top: 10px" (click)="signInWithFB()"><i class="uil uil-facebook"></i>Sign in with Facebook</button>
  </div>
  <div class="password-forgor">
    <a href="forgot_password.html">Forgot Password?</a>
  </div>
  <div class="signup-link">
    <p>Don't have an account? - <a [routerLink]="['/auth', 'register']">Sign Up Now</a></p>
  </div>
</div>
