<div class="sign-inup">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="sign-form">
          <div class="sign-inner">
            <div class="sign-logo" id="logo">
              <a routerLink=""><img src="../../assets/images/logo.svg" alt=""></a>
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="copyright-text text-center mt-3">
          <i class="uil uil-copyright"></i>Copyright 2020 <b>Gambolthemes</b> . All rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
