<div class="section145">
  <div class="container">
    <div class="col-md-12">
      <div class="main-title-tt">
        <div class="main-title-left">
          <span>Shop By</span>
          <h2>Categories</h2>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <owl-carousel [options]="options" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" [routerLink]="['/products', category.categoryTitle]" style="padding: 20px;" *ngFor="let category of productService.categoryList; let i = index">
          <a class="category-item">
            <div class="cate-img">
              <img [src]="category.categoryImg" alt="">
            </div>
            <h4>{{ category.categoryTitle }}</h4>
          </a>
        </div>
      </owl-carousel>
    </div>
  </div>
</div>
